* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: rgb(255, 255, 255);
    background-image:url('../images/Premium\ Vector\ _\ Technology\ dark\ metal\ green\ light\ futuristic\ background_.jpeg') ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size:auto;
    background-color: black;
    width: 90%;
}

.container {
    position: relative;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 1200px;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 800px;
    margin: 0 auto 30px auto;
}
